.picker {
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translateX(-50%);
}

.pickerContainer {
	background-color: white;
	padding: 0.75rem;
	border: 1px solid #d9dfe6;
	box-shadow: -4px 9px 25px -6px rgba(86, 86, 86, 0.271);
	margin-top: 1rem;
	z-index: 10;
	box-sizing: border-box;
}

.pickerContainer :global(.react-colorful) {
	width: 230px;
	height: 230px;
}

.pickerContainer :global(.react-colorful__saturation) {
	margin-bottom: 0.75rem;
	border: none;
}

.pickerContainer :global(.react-colorful__hue) {
	height: 20px;
  	border-radius: 50px;
}

.colorPicker {
	position: relative;
	display: flex;
}