.previewBody{
    margin-bottom: 1rem;
    border-radius: 5px;
} 

.navbarDemo{
    border-radius: 5px;
}

.spaceDemo{
    color: white;
    border-radius: 10px;
    text-align: center;
}

.cubeBox{
    height: 265px;
    color: #031b4e;
    text-align: center;
    align-content: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
    border: 0;
    border-radius: 10px;
}