.burger {
    position: absolute;
    top: 0.75rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger:focus {
    outline: none;
}

.burger div {
    position: relative;
    width: 2rem;
    height: 0.25rem;
    border-radius: 8px;
    background-color: #373737;
    transform-origin: 1px;
    transition: 300ms linear all;
}

@media only screen and (min-width: 768px) {
    .burger {
        display: none;
    }
}