.burger {
    --hamDim: 45px;
    position: fixed;
    bottom: 1.5rem;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
    cursor: pointer;

    width: var(--hamDim);
    height: var(--hamDim);
    border-radius: 50px;
    background-color: #373737;

    /* hiding blue highlight on click - mobile devices */
    -webkit-tap-highlight-color: transparent;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger span {
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 8px;
    transform: rotate(0deg);
    background-color: white;
    transition: 300ms linear all;
}

.burger span:nth-child(1) {
    top: calc(var(--hamDim) / 2 - 7px);
}

.burger span:nth-child(2) {
    top: calc(var(--hamDim) / 2 + 7px);
}

.burgerOpen span:nth-child(1) {
    top: calc(var(--hamDim) / 2);
    transform: rotate(135deg);
}

.burgerOpen span:nth-child(2) {
    top: calc(var(--hamDim) / 2);
    transform: rotate(-135deg);
}