.sideMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    z-index: 8;
    align-items: center;
    box-shadow: 10px 0px 10px 1px #12121206;
    transition: transform 300ms ease-in-out;
}

.sideMenu div {
    margin: 1rem 0;
    font-size: 1.25em;
}